<section class="container">
    <div class="row">
        <h2>Perfil do usuário</h2>
        <div class="col">
            <label for="exampleFormControlInput1" class="form-label">Nome</label>
            <input class="form-control" id="exampleFormControlInput1" placeholder="Nome">
        </div>
        <div class="col">
            <label for="exampleFormControlInput2" class="form-label">Cnpj</label>
            <input class="form-control" id="exampleFormControlInput2" placeholder="Cnpj">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="exampleFormControlInput3" class="form-label">Tipo de Fundo</label>
            <input class="form-control" id="exampleFormControlInput3" placeholder="Tipo de Fundo">
        </div>
        <div class="col">
            <label for="exampleFormControlInput4" class="form-label">Valor de Patrimonio</label>
            <input class="form-control" id="exampleFormControlInput4" placeholder="Valor de patrimonio">
        </div>
    </div>
    <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary">Salvar</button>
        <button type="button" class="btn btn-secondary">Editar</button>
    </div>
</section>